html {
  margin: 0;
  padding: 0;
  border-top: 2px solid #c9cacc;
  background: #1d1f21;
}
body {
  box-sizing: border-box;
  color: #c9cacc;
  margin: 0 auto;
  padding: 1em 0;
  font-size: 14px;
  font-family: lucida console, Monaco, monospace;
}
nav {
  text-align: right;
  margin-bottom: 3em;
}
p,
li {
  line-height: 1.75em;
}
p.wrap {
  overflow-wrap: anywhere;
}
a {
  color: #2bbc8a;
}
a:visited {
  color: #f35c38;
}
hr {
  border: 0;
  height: 1px;
  background: #666;
}
hr:last-of-type {
  margin-bottom: 2em;
}
small {
  color: #999;
}
table {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  border: 1px solid #666;
}
table th,
table td {
  padding: 0.75em 0.5em;
  text-align: center;
  line-height: 1.5em;
}
table th {
  text-transform: uppercase;
  letter-spacing: 1px;
}
input {
  background: #999;
  border: 0;
}
@media (max-width: 49.9375em) {
  body {
    width: 100%;
    padding: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
    margin-top: 1.5em;
  }
  nav {
    text-align: center;
  }
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 0.7em;
    display: block;
    border: 1px solid #666;
  }
  table td {
    display: block;
    text-align: right;
    border-bottom: 1px solid #333;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-title);
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 1em 1em 0;
  }
}
@media (min-width: 50em) and (max-width: 63.9375em) {
  body {
    width: 80%;
  }
}
@media (min-width: 64em) {
  body {
    width: 55%;
  }
}
